.sky {
	height: 800px;
	position: relative;
	animation: sky 5s infinite;
}
.ground {
	position: relative;
	background-color: #000000;
	height: 100px;
	z-index: 1;
}
@keyframes sky {
	from {background-color: #F0F8FF;}
	to {background-color: #4B0082;}
}
.sun {
	width: 90px;
	height: 90px;
	position: absolute;
	right: 20px;
	animation: sunset 5s infinite;
}
@keyframes sunset {
	from {top: 30px;}
	to {top: 800px;}
}
.moon {
	width: 90px;
	height: 90px;
	position: absolute;
	left: 20px;
	animation: moon 5s infinite;
}
@keyframes moon {
	from {top: 800px;}
	to {top: 30px;}
}
.train {
	position: absolute;
	/*z-index: 1;*/
	width: 111.1px;
	height: 100px;
	top: 700px;
	animation: train 5s infinite;
}
@keyframes train {
	0% {transform: translateX(20px);}
	10% {transform: translateX(138px);}
	20% {transform: translateX(256px);}
	30% {transform: translateX(374px);}
	40% {transform: translateX(492px);}
	50% {transform: translateX(610px);}
	60% {transform: translateX(728px);}
	70% {transform: translateX(846px);}
	80% {transform: translateX(964px);}
	90% {transform: translateX(1082px);}
	100% {transform: translateX(1200px);}
}